/* Global */
.error {
    color: red;
}

#div_githubLink{
    float: right;
    margin-right: 20px;
    margin-top: 10px;
}

/* Toolbar */
#div_toolbar {
    margin: 10px;
}

#tv_ApiKey {
    width: 300px;
}

#tv_connectionIp {
    width: 150px;
}

#tv_connectionPort {
    width: 70px;
}

#tv_connectionInfo {
    width: 400px;
}

#div_toolbar button {
    margin-left: 20px;
}

#div_toolbar label {
    margin-right: 20px;
}

/* mapBody */
#div_mapBody {
    margin: 10px;
    position: relative;
}

#div_mapCanvas {
    height: 85%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#pac-input {
    width: 98%;
    padding: 10px;
}

#div_searchBox {
    top: 9px !important;
    width: 350px;
    padding: 1px;
    text-align: center;
    background-color: transparent;
}

/*#div_searchBox:hover{*/
/*    background-color: white;*/
/*}*/
